/* Animation du titre (TiSkol) : Apparition en fondu */
@keyframes fadeInTitle {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRectangle {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(20px); /* Commence un peu plus bas pour un effet de montée */
    }
    50% {
        transform: scale(1.05) translateY(-10px); /* Légère élévation au milieu de l'animation */
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0); /* Position finale */
    }
}

/* Ajouter une animation pour faire apparaître le texte après 2 secondes */
@keyframes fadeInText {
    0% {
        opacity: 0; /* Débute avec une opacité de 0 */
        transform: translateY(20px); /* Commence légèrement plus bas */
    }
    100% {
        opacity: 1; /* Devient complètement visible */
        transform: translateY(0); /* Retourne à la position normale */
    }
}

/* Animation de déplacement du rectangle */
@keyframes moveUpRectangle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-180px);
    }
}

/* Ajout d'une classe qui applique l'animation */
.rectangle.moved-up {
    animation: moveUpRectangle 0.6s ease-in-out forwards; /* Animation fluide */
}


/* Chargement de la police Open Sauce depuis le dossier local */
@font-face {
    font-family: 'Open Sauce One';
    src: url('fonts/OpenSauceOne-Regular.ttf') format('truetype'); /* Spécifie le chemin relatif vers le fichier */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('fonts/OpenSauceOne-ExtraBold.ttf') format('truetype'); /* Spécifie le chemin relatif vers le fichier */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('fonts/OpenSauceOne-Light.ttf') format('truetype'); /* Spécifie le chemin relatif vers le fichier */
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Italic.ttf') format('truetype'); /* Spécifie le chemin relatif vers le fichier */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esmeralda';
    src: url('fonts\esmeraldagroterk-Regular.otf') format('opentype'); /* Spécifie le chemin relatif vers le fichier */
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d9d9d9;
    font-family: 'Open Sauce One', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Ajouté pour que les éléments s'empilent verticalement */
    pointer-events: none; /* Désactive tous les clics sur la page au début */
    transition: background-color 0.5s ease; /* Ajout d'une transition douce pour le changement de couleur */
}

/* Rectangle avec animation */
.rectangle {
    width: 450px; /* Largeur doublée */
    height: 210px; /* Hauteur augmentée pour inclure le sous-texte */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Bords arrondis à 4px */
    position: relative; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column; /* Aligne le texte en colonne */
    font-size: 30px; /* Taille de police du texte */
    font-weight: normal; /* Police régulière par défaut */
    color: black; /* Couleur du texte */
    text-align: center;
    animation: slideInRectangle 0.6s ease-in-out; /* Animation d'apparition du rectangle */
}

/* Trait horizontal */
.rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
}

/* Icônes positionnées à gauche */
.left-icon-container {
    position: absolute;
    top: 11px; /* Placer les icônes plus haut */
    left: 11px; /* Placer les icônes à gauche */
    display: flex;
    gap: 10px; /* Espacement entre les icônes */
}



/* Icônes avec animation de rebond */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px; /* Largeur du cercle */
    height: 15px; /* Hauteur du cercle */
    border: 1px solid black;
    background-color: #f4f4f4; /* Couleur de fond des cercles */
    border-radius: 50%; /* Rendre les icônes circulaires */
    font-family: 'Esmeralda', sans-serif;
    font-size: 12px; /* Taille des icônes */
    color: black;
    user-select: none; /* Empêche la sélection de texte */
}

.image-au-dessus {
    width: 150px; /* Largeur fixe */
    height: 150px; /* Hauteur fixe */
    object-fit: cover; /* Assure que l'image remplit l'espace défini sans déformation */
    margin-top: -200px;
    margin-bottom: -5px;
}


/* Classe ajoutée pour rendre le rectangle visible */
.image-au-dessus.invisible {
    opacity: 0; /* Rendre visible */
    visibility: hidden; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
    }


/* Animation du titre (TiSkol) */
.title {
    font-weight: bold; /* Assure que le titre est bien en extrabold */
    font-family: 'Open Sauce One', sans-serif; /* Applique la police Open Sauce */
    font-size: 60px; /* Taille de la police mise à 60px */
    margin-top: 20px; /* Ajoute de l'espace au-dessus de TiSkol pour l'abaisser */
    margin-bottom: 20px; /* Ajoute de l'espace sous TiSkol pour éloigner "l'école à la maison" */
    animation: fadeInTitle 1s ease-in-out; /* Animation de fondu pour le titre */
    user-select: none; /* Empêche la sélection de texte */
}

/* Sous-titre */
.subtitle {
    font-family: 'Libre Baskerville', serif; /* Applique la police Libre Baskerville */
    font-size: 20px; /* Taille petite pour "l'école à la maison" */
    font-style: normal; /* Pas d'italique */
    color: black; /* Couleur légèrement plus sombre pour un contraste plus doux */
    user-select: none; /* Empêche la sélection de texte */
}

/* Style du texte "Cliquer pour commencer" */
.start-text {
    font-weight: light;
    font-family: 'Open Sauce One', serif;
    font-size: 13px;
    color: black;
    text-align: center; /* Centre le texte horizontalement */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInText 1s ease-in-out 1s forwards; /* Animation qui commence après 2 secondes */
    margin-top: 30px; /* Crée un espace entre le rectangle et le texte */
    display: block; /* Assure que le texte s'affiche comme un bloc pour qu'il soit bien en dessous */
    width: 100%; /* Assure que le texte utilise toute la largeur disponible */
    user-select: none; /* Empêche la sélection de texte */
}

/* Réactive les clics lorsque le texte est visible */
.start-text.visible {
    pointer-events: all; /* Permet de cliquer uniquement quand le texte est visible */
}

.informations-rectangle {
    width: 450px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.informations-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

.informations-rectangle p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}

/* Effet de survol pour le rectangle "donner" */
.informations-rectangle:hover {
    background-color: #f5be49; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.commencer-rectangle {
    width: 450px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: calc(50% + 80px); /* Correction de la position verticale */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.commencer-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

.commencer-rectangle p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}

/* Effet de survol pour le rectangle "prendre" */
.commencer-rectangle:hover {
    background-color: #5271ff; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.souhaite-rectangle {
    width: 200px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.souhaite-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

.souhaite-rectangle p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}

/* Rectangle blanc en dessous */
.donner-rectangle {
    width: 200px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 58%; /* Centrer verticalement */
    left: calc(50%-200px); /* Centrer horizontalement */
    transform: translate(-60%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}
.donner-rectangle p {
    margin: 0;
    font-family: 'Open Sauce One', sans-serif;
    font-size: 16px;
    color: black;
}

/* Effet de survol pour le rectangle "donner" */
.donner-rectangle:hover {
    background-color: #f5be49; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

/* Classe ajoutée pour rendre le rectangle visible */
.donner-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Rectangle blanc en dessous */
.prendre-rectangle {
    width: 200px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 58%; /* Centrer verticalement */
    left: calc(50%+200px); /* Centrer horizontalement */
    transform: translate(+60%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}
.prendre-rectangle p {
    margin: 0;
    font-family: 'Open Sauce One', sans-serif;
    font-size: 16px;
    color: black;
}

/* Effet de survol pour le rectangle "prendre" */
.prendre-rectangle:hover {
    background-color: #5271ff; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

/* Classe ajoutée pour rendre le rectangle visible */
.prendre-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

.retour-commencer-rectangle {
    width: 200px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 66%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-commencer-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-commencer-rectangle:hover {
    background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-commencer-rectangle p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}


.page-info-1-rectangle {
    width: 900px; /* Largeur doublée */
    height: 700px; /* Hauteur du rectangle */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    flex-direction: row; /* Organise les éléments horizontalement */
    user-select: none; /* Empêche la sélection de texte */
    font-family: 'Open Sauce One', sans-serif; /* Définir la police de caractères (à ajuster selon ta préférence) */
    font-size: 18px; /* Définir la taille du texte */
    color: black; /* Couleur du texte */
    line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
}

/* Conteneur du texte */
.text-container {
    flex: 1; /* Utiliser la moitié gauche du rectangle */
    padding-right: 20px; /* Espacement à droite du texte */
}

/* Trait horizontal */
.page-info-1-rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
    margin-bottom: 50px;
}

/* Classe ajoutée pour rendre le rectangle visible */
.page-info-1-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Paragraphe */
.page-info-1-rectangle p {
    font-size: 16px;
    font-family: 'Open Sauce One', sans-serif;
    color: black;
    text-align: justify; /* Justifier le texte */
    line-height: 1.8; /* Améliorer la lisibilité */
    margin-left: 20px; /* Espacement sous le titre */
}

/* Titre */
.page-info-1-rectangle h1 {
    margin-top: 80px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 24px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-1-rectangle h1::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 100%; /* La largeur du titre */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

.retour-informations-rectangle {
        width: 440px; /* Largeur du rectangle blanc */
        height: 50px; /* Hauteur du rectangle blanc */
        background-color: #f4f4f4;
        border: 1px solid black;
        border-radius: 4px; /* Coins arrondis */
        position: fixed; /* Position fixe pour qu'il soit au centre de la page */
        box-shadow: 8px 8px 0px 0px black;
        top: 82.5%; /* Centrer verticalement */
        left: 50%; /* Centrer horizontalement */
        transform: translateX(-450px); /* Ajuste le rectangle en le décalant de la moitié de sa largeur */
        opacity: 0; /* Initialement invisible */
        visibility: hidden; /* Masquer au début */
        transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
        display: flex;
        justify-content: center; /* Centre le contenu horizontalement */
        align-items: center; /* Centre le contenu verticalement */
        text-align: center; /* Centre le texte */
        user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-informations-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-informations-rectangle:hover {
    background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-informations-rectangle p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}

.suivant-page-1 {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(+2%); /* Déplacer de -50% de la largeur du rectangle pour un centrage parfait */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}


/* Classe ajoutée pour rendre le rectangle visible */
.suivant-page-1.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.suivant-page-1:hover {
    background-color: #f5be49; /* Changer la couleur de fond sur le survol */
    box-shadow: 8px 8px 0px 0px black;
    font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
    cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.suivant-page-1 p {
    margin: 0; /* Éviter l'espace par défaut des balises <p> */
    font-size: 16px; /* Ajuste la taille de la police */
    font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
    color: black; /* Couleur du texte */
}

.page-info-2-rectangle {
    width: 900px; /* Largeur doublée */
    height: 700px; /* Hauteur du rectangle */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    flex-direction: row; /* Organise les éléments horizontalement */
    user-select: none; /* Empêche la sélection de texte */
    font-family: 'Open Sauce One', sans-serif; /* Définir la police de caractères (à ajuster selon ta préférence) */
    font-size: 18px; /* Définir la taille du texte */
    color: black; /* Couleur du texte */
    line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
}


/* Trait horizontal */
.page-info-2-rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
    margin-bottom: 50px;
}

/* Classe ajoutée pour rendre le rectangle visible */
.page-info-2-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Paragraphe */
.page-info-2-rectangle p {
    font-size: 16px;
    font-family: 'Open Sauce One', sans-serif;
    color: black;
    text-align: justify; /* Justifier le texte */
    line-height: 1.8; /* Améliorer la lisibilité */
    margin-left: 20px; /* Espacement sous le titre */
}

/* Titre */
.page-info-2-rectangle h1 {
    margin-top: 60px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 24px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-2-rectangle h1::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 100%; /* La largeur du titre */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}


.retour-page-2-rectangle {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-450px); /* Ajuste le rectangle en le décalant de la moitié de sa largeur */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-page-2-rectangle.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-page-2-rectangle:hover {
background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-page-2-rectangle p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.suivant-page-2 {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(+2%); /* Déplacer de -50% de la largeur du rectangle pour un centrage parfait */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}



/* Classe ajoutée pour rendre le rectangle visible */
.suivant-page-2.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.suivant-page-2:hover {
background-color: #5271ff; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.suivant-page-2 p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.page-info-3-rectangle {
    width: 900px; /* Largeur doublée */
    height: 700px; /* Hauteur du rectangle */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    flex-direction: row; /* Organise les éléments horizontalement */
    user-select: none; /* Empêche la sélection de texte */
    font-family: 'Open Sauce One', sans-serif; /* Définir la police de caractères (à ajuster selon ta préférence) */
    font-size: 18px; /* Définir la taille du texte */
    color: black; /* Couleur du texte */
    line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
}


/* Trait horizontal */
.page-info-3-rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
    margin-bottom: 50px;
}

/* Classe ajoutée pour rendre le rectangle visible */
.page-info-3-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Paragraphe */
.page-info-3-rectangle p {
    font-size: 16px;
    font-family: 'Open Sauce One', sans-serif;
    color: black;
    text-align: justify; /* Justifier le texte */
    line-height: 1.8; /* Améliorer la lisibilité */
    margin-left: 20px; /* Espacement sous le titre */
}

/* Titre */
.page-info-3-rectangle h1 {
    margin-top: 50px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 24px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-3-rectangle h1::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 100%; /* La largeur du titre */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

/* Titre */
.page-info-3-rectangle h2 {
    margin-top: 20px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 18px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-3-rectangle h2::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 50%; /* La largeur du titre */
    height: 1px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

.retour-page-3-rectangle {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-450px); /* Ajuste le rectangle en le décalant de la moitié de sa largeur */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-page-3-rectangle.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-page-3-rectangle:hover {
background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-page-3-rectangle p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.suivant-page-3 {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(+2%); /* Déplacer de -50% de la largeur du rectangle pour un centrage parfait */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}



/* Classe ajoutée pour rendre le rectangle visible */
.suivant-page-3.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.suivant-page-3:hover {
background-color: #f5be49; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.suivant-page-3 p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.page-info-4-rectangle {
    width: 900px; /* Largeur doublée */
    height: 700px; /* Hauteur du rectangle */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    flex-direction: row; /* Organise les éléments horizontalement */
    user-select: none; /* Empêche la sélection de texte */
    font-family: 'Open Sauce One', sans-serif; /* Définir la police de caractères (à ajuster selon ta préférence) */
    font-size: 18px; /* Définir la taille du texte */
    color: black; /* Couleur du texte */
    line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
}


/* Trait horizontal */
.page-info-4-rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
    margin-bottom: 50px;
}

/* Classe ajoutée pour rendre le rectangle visible */
.page-info-4-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Paragraphe */
.page-info-4-rectangle p {
    font-size: 16px;
    font-family: 'Open Sauce One', sans-serif;
    color: black;
    text-align: justify; /* Justifier le texte */
    line-height: 1.8; /* Améliorer la lisibilité */
    margin-left: 20px; /* Espacement sous le titre */
}

/* Titre */
.page-info-4-rectangle h1 {
    margin-top: 120px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 24px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-4-rectangle h1::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 100%; /* La largeur du titre */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}


.retour-page-4-rectangle {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-450px); /* Ajuste le rectangle en le décalant de la moitié de sa largeur */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-page-4-rectangle.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-page-4-rectangle:hover {
background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-page-4-rectangle p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.suivant-page-4 {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(+2%); /* Déplacer de -50% de la largeur du rectangle pour un centrage parfait */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}



/* Classe ajoutée pour rendre le rectangle visible */
.suivant-page-4.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.suivant-page-4:hover {
background-color: #f5be49; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.suivant-page-4 p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.page-info-5-rectangle {
    width: 900px; /* Largeur doublée */
    height: 700px; /* Hauteur du rectangle */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Nécessaire pour le positionnement absolu du trait */
    box-shadow: 8px 8px 0px 0px black;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer exactement au milieu */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    flex-direction: row; /* Organise les éléments horizontalement */
    user-select: none; /* Empêche la sélection de texte */
    font-family: 'Open Sauce One', sans-serif; /* Définir la police de caractères (à ajuster selon ta préférence) */
    font-size: 18px; /* Définir la taille du texte */
    color: black; /* Couleur du texte */
    line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
}


/* Trait horizontal */
.page-info-5-rectangle::before {
    content: "";
    position: absolute;
    top: 40px; /* Décalé de 40px du haut */
    left: 0;
    width: 100%; /* La largeur du rectangle */
    height: 2px; /* Hauteur du trait, plus épais */
    background-color: black; /* Couleur du trait */
    margin-bottom: 50px;
}

/* Classe ajoutée pour rendre le rectangle visible */
.page-info-5-rectangle.visible {
    opacity: 1; /* Rendre visible */
    visibility: visible; /* Afficher le rectangle */
    transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Paragraphe */
.page-info-5-rectangle p {
    font-size: 16px;
    font-family: 'Open Sauce One', sans-serif;
    color: black;
    text-align: justify; /* Justifier le texte */
    line-height: 1.8; /* Améliorer la lisibilité */
    margin-left: 20px; /* Espacement sous le titre */
}

/* Titre */
.page-info-5-rectangle h1 {
    margin-top: 80px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 24px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-5-rectangle h1::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 100%; /* La largeur du titre */
    height: 2px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

/* Titre */
.page-info-5-rectangle h2 {
    margin-top: 20px; /* Espacement sous le titre */
    margin-bottom: 20px; /* Espacement sous le titre */
    margin-left: 20px; /* Espacement sous le titre */
    font-size: 18px; /* Taille du titre */
    font-family: 'Open Sauce One', bold; /* Griser le titre */
    color: black;
    text-align: justify; /* Justifier le texte */
    position: relative; /* Nécessaire pour positionner le trait horizontal */
}

/* Trait horizontal sous le titre */
.page-info-5-rectangle h2::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Décale le trait légèrement sous le titre */
    left: 0;
    width: 50%; /* La largeur du titre */
    height: 1px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
}

.retour-page-5-rectangle {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-450px); /* Ajuste le rectangle en le décalant de la moitié de sa largeur */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}

/* Classe ajoutée pour rendre le rectangle visible */
.retour-page-5-rectangle.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.retour-page-5-rectangle:hover {
background-color: #a5a5a5; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.retour-page-5-rectangle p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}

.suivant-page-5 {
    width: 440px; /* Largeur du rectangle blanc */
    height: 50px; /* Hauteur du rectangle blanc */
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 4px; /* Coins arrondis */
    position: fixed; /* Position fixe pour qu'il soit au centre de la page */
    box-shadow: 8px 8px 0px 0px black;
    top: 82.5%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(+2%); /* Déplacer de -50% de la largeur du rectangle pour un centrage parfait */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Masquer au début */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Animation de transition pour l'apparition */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    text-align: center; /* Centre le texte */
    user-select: none; /* Empêche la sélection de texte */
}



/* Classe ajoutée pour rendre le rectangle visible */
.suivant-page-5.visible {
opacity: 1; /* Rendre visible */
visibility: visible; /* Afficher le rectangle */
transition: opacity 0.6s ease; /* Animation de transition pour la visibilité */
}

/* Effet de survol pour le rectangle "prendre" */
.suivant-page-5:hover {
background-color: #f5be49; /* Changer la couleur de fond sur le survol */
box-shadow: 8px 8px 0px 0px black;
font-weight: bold; /* Appliquer le gras sur le texte lors du survol */
cursor: pointer; /* Changer le curseur pour indiquer qu'il est cliquable */
}

.suivant-page-5 p {
margin: 0; /* Éviter l'espace par défaut des balises <p> */
font-size: 16px; /* Ajuste la taille de la police */
font-family: 'Open Sauce One', sans-serif; /* Utiliser la même police que le reste */
color: black; /* Couleur du texte */
}  

.yellow-box {
    width: 900px; /* S'assure que la boîte prend toute la largeur */
    background-color: #f5be49;
    height:40px;
}

.blue-box {
    width: 900px; /* S'assure que la boîte prend toute la largeur */
    background-color: #5271ff;
    height:40px;
}

.grey-box {
    flex: 1; /* Ne permet pas à l'élément de s'étendre, mais fixe sa largeur à 400px */
    background-color: #a5a5a5;
    height: 100%;
    clip-path: inset(42px 0 0 0);
    background-image: url('logo_black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}